.left_photo {
    object-position: left;
    text-align: left;
    padding-left: 150px;
    padding-right: 10px;
    padding-top: 50px;
  }
  
  .left_text {
    text-align: right;
    word-wrap: normal;
    position: top;
    font-size: 30px;
  }
  
  .right_photo {
    object-position: right;
    text-align: right;
    padding-right: 150px;
    padding-left: 10px;
    padding-top: 50px;
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 10px;
    color: black;
    font-weight: 10px;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }